.nav{
    width:100%;
    padding:0;
    margin:0;
   display: block;

}

.navbar{
}
.task-search{
width: 20rem;
margin-left: 6rem;
}

.task-btn{
    border-radius: 1rem;
    margin-bottom: 10px;
  padding: 0 5rem;

}
@media(max-width:700px){
  div.todo-card{
    width: unset;
  }
  .d-flex{
    width: unset;
  }
  .task-search{
    width: unset;
    margin-left: 2px;
    width: 5rem;

    }
    .task-btn{
      margin-bottom: 10px;
    padding: 0 1rem;
  
  }
    
}